
<section class="container-fluid my-3 px-2">
 <div class="text-center mb-4">
    <h4><a routerLink="/" class="text-decoration-none text-dark ">Home </a></h4>
  </div>

  
<div class="carousel-wrapper px-5" id="autoScrollCarousel">
  <div class="carousel-inner2 d-flex" id="carouselInner">

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/new-women-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/Scrunchies_89622d21-1cf8-46ab-b611-ae398faf8585.jpg?v=1729762613&width=400" class="card-img-top" alt="Women">
      </a>
      <div class="card-body p-2">
        <a href="/collections/new-women-sale" class="text-decoration-none text-dark ">SCRUNCHIES</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/new-girls-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/Bag.jpg?v=1729762672&width=400" class="card-img-top" alt="Girls">
      </a>
      <div class="card-body p-2">
        <a href="/collections/new-girls-sale" class="text-decoration-none text-dark ">BOGS</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/boys-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/Belt_26d1d052-99a9-41ad-b74c-38978e0d6fd7.jpg?v=1729762613&width=400" class="card-img-top" alt="Boys">
      </a>
      <div class="card-body p-2">
        <a href="/collections/boys-sale" class="text-decoration-none text-dark ">BELTS</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/accessories-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/Sleeves_3daaa584-81a0-419c-b9c6-f62f281eaed9.jpg?v=1729763381&width=400" class="card-img-top" alt="Accessories">
      </a>
      <div class="card-body p-2">
        <a href="/collections/accessories-sale" class="text-decoration-none text-dark ">SLEEVES</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/women-pret-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/JEWLLERY.jpg?v=1729762613&width=400" class="card-img-top" alt="Co-Ords">
      </a>
      <div class="card-body p-2">
        <a href="/collections/women-pret-sale" class="text-decoration-none text-dark ">JEWLLERY</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/women-western-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/Hats.jpg?v=1729762613&width=400" class="card-img-top" alt="Western">
      </a>
      <div class="card-body p-2">
        <a href="/collections/women-western-sale" class="text-decoration-none text-dark ">HATS</a>
      </div>
    </div>

    <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/women-sleepwear-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/SOCKS_f3f8c3e8-2f46-44a0-9854-d20c6ddf2745.jpg?v=1731669439&width=400" class="card-img-top" alt="Sleepwear">
      </a>
      <div class="card-body p-2">
        <a href="/collections/women-sleepwear-sale" class="text-decoration-none text-dark">SOCKS</a>
      </div>
    </div>

     <div class="card text-center me-3" style="min-width: 130px; border: none;">
      <a href="/collections/women-sleepwear-sale">
        <img src="https://www.polkadots.pk/cdn/shop/files/HAIR.jpg?v=1731669457&width=400" class="card-img-top" alt="Sleepwear">
      </a>
      <div class="card-body p-2">
        <a href="/collections/women-sleepwear-sale" class="text-decoration-none text-dark ">HAIR ACCESSORIES</a>
      </div>
    </div>
  </div>
</div>
</section>


    <div class="container py-5" >
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" *ngFor="let product of products">
        <div class="card product-card border-0 shadow-sm h-100">
            <div class="position-relative overflow-hidden">
            <img
                [src]="product.mainImage"
                [alt]="product.title"
                class="img-fluid main-img"
            />
            <img
                [src]="product.hoverImage"
                [alt]="product.title"
                class="img-fluid hover-img position-absolute top-0 start-0 w-100 h-100"
            />

            <a
                class="quick-view-btn btn btn-dark btn-sm position-absolute bottom-0 start-50 translate-middle-x mb-2 px-3"
                [routerLink]="product.link"
            >
                <i class="bi bi-eye me-1"></i> Quick View
            </a>
            </div>

            <div class="card-body text-center p-3">
            <h6 class="card-title mb-1">
                <a routerLink="/addToCart" class="text-decoration-none text-dark fw-semibold">
                {{ product.title }}
                </a>
            </h6>
            <p class="card-text text-muted mb-0">Rs.{{ product.price | number }}</p>
            </div>
        </div>
        </div>
    </div>
    </div>

