<p>categories works!</p>
<!-- Navigation with Mega Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- <a class="navbar-brand fw-bold" href="#">POLKA DOTS</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Women Mega Menu -->
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="/collections/women" 
             data-bs-toggle="dropdown" data-bs-auto-close="outside">
            WOMEN
          </a>
          <div class="dropdown-menu mega-menu w-100 mt-0 border-0 rounded-0">
            <div class="container">
              <div class="row g-4">
                <!-- Image Block -->
                <div class="col-lg-3">
                  <div class="card border-0">
                    <a href="/collections/women" class="text-decoration-none">
                      <img src="//www.polkadots.pk/cdn/shop/collections/women-506696.jpg?v=1732965901" 
                           class="card-img-top" alt="Women Collection">
                      <div class="card-body text-center p-2">
                        <h6 class="card-title mb-1">Collection</h6>
                        <p class="card-text text-muted small mb-0">523 Products</p>
                      </div>
                    </a>
                  </div>
                </div>
                
                <!-- PRET & WESTERN Links -->
                <div class="col-lg-2">
                  <ul class="list-unstyled">
                    <li><a href="/collections/pret" class="dropdown-item fw-bold text-dark">PRET</a></li>
                    <li><a href="/collections/new-printed" class="dropdown-item">PRINTED</a></li>
                    <li><a href="/collections/new-embroidered" class="dropdown-item">EMBROIDERED</a></li>
                    <li><a href="/collections/plain" class="dropdown-item">PLAIN (SOLIDS)</a></li>
                    <li><a href="/collections/2-piece-suit" class="dropdown-item">2 PIECE SUIT</a></li>
                    <li><a href="/collections/western" class="dropdown-item fw-bold text-dark mt-2">WESTERN</a></li>
                    <li><a href="/collections/new-western-top" class="dropdown-item">TOPS</a></li>
                    <li><a href="/collections/western-t-shirt" class="dropdown-item">T-SHIRT</a></li>
                    <li><a href="/collections/frocks" class="dropdown-item">FROCKS</a></li>
                    <li><a href="/collections/women-pants" class="dropdown-item">PANTS</a></li>
                  </ul>
                </div>
                
                <!-- PANTS Links -->
                <div class="col-lg-2">
                  <ul class="list-unstyled">
                    <li><a href="/collections/women-pants" class="dropdown-item fw-bold text-dark">PANTS</a></li>
                    <li><a href="/collections/new-straight-pants" class="dropdown-item">STRAIGHT PANTS</a></li>
                    <li><a href="/collections/new-bell-bottoms" class="dropdown-item">BELL BOTTOMS</a></li>
                    <li><a href="/collections/new-shalwar" class="dropdown-item">SHALWAR</a></li>
                    <li><a href="/collections/new-denim" class="dropdown-item">DENIM</a></li>
                    <li><a href="/collections/new-tights" class="dropdown-item">TIGHTS</a></li>
                  </ul>
                </div>
                
                <!-- WINTER Links -->
                <div class="col-lg-2">
                  <ul class="list-unstyled">
                    <li><a href="/collections/winter" class="dropdown-item fw-bold text-dark">WINTER</a></li>
                    <li><a href="/collections/denim-series" class="dropdown-item">DENIM</a></li>
                    <li><a href="/collections/winter-pret" class="dropdown-item">PRET</a></li>
                    <li><a href="/collections/winter-western" class="dropdown-item">WINTER WESTERN</a></li>
                    <li><a href="/collections/co-ord-set" class="dropdown-item">CO-ORD SETS</a></li>
                    <li><a href="/collections/jackets-cardigans" class="dropdown-item">JACKETS & CARDIGANS</a></li>
                    <li><a href="/collections/velvet" class="dropdown-item">VELVET</a></li>
                    <li><a href="/collections/winter-pants" class="dropdown-item">PANTS</a></li>
                    <li><a href="/collections/woolen-hats" class="dropdown-item">WOOLEN HATS</a></li>
                    <li><a href="/collections/sleeves-gloves" class="dropdown-item">GLOVES</a></li>
                    <li><a href="/collections/cape-shawl" class="dropdown-item">SHAWLS</a></li>
                  </ul>
                </div>
                
                <!-- CO-ORD SET & Others Links -->
                <div class="col-lg-2">
                  <ul class="list-unstyled">
                    <li><a href="/collections/co-ord-set" class="dropdown-item fw-bold text-dark">CO-ORD SET</a></li>
                    <li><a href="/collections/western-co-ord-set" class="dropdown-item">WESTERN CO-ORDS</a></li>
                    <li><a href="/collections/eastern-co-ord-set" class="dropdown-item">EASTERN CO-ORDS</a></li>
                    <li><a href="/collections/denim-series" class="dropdown-item fw-bold text-dark mt-2">DENIM</a></li>
                    <li><a href="/collections/denim" class="dropdown-item">DENIM TOP</a></li>
                    <li><a href="/collections/new-denim" class="dropdown-item">DENIM PANTS</a></li>
                    <li><a href="/collections/women-sleepwear" class="dropdown-item fw-bold text-dark mt-2">SLEEPWEAR</a></li>
                    <li><a href="/collections/plus-size" class="dropdown-item fw-bold text-dark">PLUS SIZE</a></li>
                    <li><a href="/collections/new-women-sale" class="dropdown-item fw-bold text-danger">UPTO 70%</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <!-- Other Navigation Items -->
        <li class="nav-item">
          <a class="nav-link" href="#">WOMEN PANTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WESTERN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GIRLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOYS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ESSENTIALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MOM & DAUGHTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESSORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SLEEPWEAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FRAGRANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WINTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BUNDLES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">UPTO 70%</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

