<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-2">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Center: Logo -->
    <div class="text-center flex-grow-1">
      <a href="/" class="navbar-brand d-inline-block">
        <img src="assets/images/logo.png" alt="Polkadots" height="70">
      </a>
    </div>

    <!-- Right: Icons -->
    <div class="d-flex align-items-center ms-auto">
      <a href="/search" class="me-3">
        <img src="assets/images/search.png" width="30" alt="search">
      </a>
      <a href="/pages/track-your-order" class="me-3">
        <img src="assets/images/delivery-truck.png" width="35" alt="track">
      </a>
      <a href="/account" class="me-3 d-none d-md-inline-block">
        <img src="assets/images/user-account.png" width="30" alt="account">
      </a>
      <a href="/cart" class="position-relative">
        <img src="assets/images/cart.png" width="30" alt="cart">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
      </a>
    </div>

  </div>
</nav>
