.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.carousel-caption h2 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

/* Optional: darken controls background */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* >Clearance Sale Up to 70% section   */

.carousel-wrapper {
  overflow: hidden;
  position: relative;
}

.carousel-inner2 {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scrollLoop 10s linear infinite;
}

.carousel-wrapper:hover .carousel-inner2 {
  animation-play-state: paused;
}

@keyframes scrollLoop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* section3 */

.collection-card {
  position: relative;
  display: block;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid #eee;
  background: #fff;
}

.collection-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.collection-card:hover img {
  transform: scale(1.05);
}

.collection-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collection-card:hover .overlay {
  opacity: 1;
}

.collection-card.large {
  height: 100%;
}

@media (max-width: 991px) {
  .collection-card.large {
    height:fit-content;
  }
}


/* girls sectio 4 section */
.collection-section {
  text-align: center;
  padding: 20px 0;
  background: #fff;
}


/* Centered carousel container */
.collection-carousel {
  display: flex;
  justify-content: center; /* centers all cards */
  flex-wrap: wrap; /* allows wrapping on small screens */
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 20px;
  margin-top: 20px;
  
}

.collection-carousel::-webkit-scrollbar {
  display: none;
}

/* section5 */
.card {
  border-radius: 50%;
  overflow: hidden; /* Important to keep image inside the circle */
  width: 230px;
  height: 230px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 50%; 
}

.card:hover img {
  transform: scale(1.1); /* Only image scales */
}

.card-body {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  pointer-events: none; /* Prevent hover on text from breaking effect */
}

.d-flex {
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.d-flex::-webkit-scrollbar {
  height: 6px;
}
.d-flex::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

